/Library
/obj
/temp
/*.csproj
/*.sln
*.slnx
/.vs
/*.suo
/*.userprefs
/*.unityproj
/ProjectSettings/ProjectVersion.txt
/Packages/manifest.json
.vsconfig
packages-lock.json
/ProjectSettings/
/UserSettings/
/Logs/
